.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 30px;
  width: 70px;
}
